.container{
    background-color: $color-grey-light-1;
    max-width: 120rem;
    margin: 8rem auto;
    box-shadow: 0 .3rem 6rem rgba(0,0,0,.5);
    min-height: 50rem;
    @include respond(tabLarge){
        height: 100vh;
        width: 100%;
        margin: 0px;
    }
}

.header{
    height: 7rem;
    background-color: #ffff;
    border-bottom: 1px solid $color-grey-light-4;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.5rem;

}
.content{
    display: flex;
    position: relative;
    // @include respond(tabLand){
    //     display: block;
    // }
}
.navigation{
    background-color: $color-grey-dark-1;
    flex: 0 0 18%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include respond(tabLand){
        position: fixed;
        top: 0;
        height: 100vh;
        width: 25vw;
        z-index: 10;
        color: rgba($color-grey-dark-1, 0.01);
        blur: 100rem;

        display: grid;
        grid-template-columns: 25vw 75vw;
        grid-template-rows: 90vh 10vh;

        visibility: hidden;
        display: none;
        // width: 0;
    }

    // @include respond(tabLand){
    //     // visibility: hidden;
    //     // display: none;

    //     display: grid;
    //     grid-template-columns: 27vw 73vw;
    //     background-color: transparent;



    //     height: 100vh;
    //     width: 100vw;

    //     position: fixed;
    //     top:0;

    //   }
}

.view{

    background-color: #fff;

    flex: 1;
}

.detail{
    display: flex;
    padding: 4.5rem;
    font-size: 1.4rem;
    background-color:$color-grey-light-1;
    border-bottom: 1px solid $color-grey-light-2;
    @include respond(tabPor){
        padding: 1rem;
    }
    @include respond(mobileLarge){
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: max-content min-content min-content;
        grid-row-gap: 2rem;
        padding: 6rem;
        font-size: 2rem;
    }
    @include respond(mobileMedium){
     padding: 2rem;   
    }
}

.description{
    
    background-color: #fff;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    box-shadow: 0 1.4rem 2rem rgba(0,0,0,.2);

    padding:4rem;
    @include respond(tabPor){
        padding: 2rem;
    }
    @include respond(mobileLarge){
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        margin-right: 0;
        padding: 4rem;
        font-size: 2rem;

    }
    @include respond(mobileMedium){
       padding: 1.8rem;
       margin-right: 0; 
    }  


}

.user-reviews{
    flex: 1;

    display: flex;
    flex-direction: column ;
    align-items: center;
    @include respond(mobileLarge){
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        width: 42rem;
        justify-self: center;
        margin-top: 4rem;
        font-size: 2rem;
    }
    
    
}