*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    
    @include respond(screenLarge){
        font-size:75%;
    }
    @include respond (tabLarge){
        font-size:60.25%
    }
    @include respond(tabLand){
        font-size:53.12%;
    }
    @include respond(tabPor){
        font-size:50%;
    }
    @include respond(mobileLarge){
        font-size:37.5%;
    }
    @include respond(mobileMedium){
        font-size: 34.38%;
    }
    @include respond(mobileSmall){
        font-size: 31.25%;
    }

}

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    font-weight: 400;
    color: $color-grey-dark-2;

    background-image: linear-gradient(to right bottom , $color-primary-light, $color-primary-dark );
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100vh;
}

::selection{
    background-color: $color-grey-dark-1;
    color:$color-grey-light-1;
}