* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */ }
  @media (min-width: 1100px) {
    html {
      font-size: 75%; } }
  @media (max-width: 1100px) {
    html {
      font-size: 60.25%; } }
  @media (max-width: 900px) {
    html {
      font-size: 53.12%; } }
  @media (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media (max-width: 490px) {
    html {
      font-size: 37.5%; } }
  @media (max-width: 380px) {
    html {
      font-size: 34.38%; } }
  @media (max-width: 300px) {
    html {
      font-size: 31.25%; } }

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #777777;
  background-image: linear-gradient(to right bottom, #FF3366, #BA265D);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

::selection {
  background-color: #333;
  color: #faf9f9; }

.logo {
  padding-left: 2rem;
  height: 3.25rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: #f4f2f2;
    padding: 1.5rem 2rem;
    height: 2rem;
    width: 90%;
    outline: none;
    border-radius: 10rem;
    border: none;
    transition: all 0.2s;
    margin-right: -2rem;
    transition: all 0.3s; }
    .search__input:hover {
      box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2); }
    .search__input:focus {
      width: 100%;
      outline: none;
      border: none;
      background-color: #f0eeee; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc; }
  .search__input:focus + .search__button {
    outline: none; }
  .search__button {
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: -1rem; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999; }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center; }
    .user-nav > *:hover {
      background-color: #999; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #333; }
  .user-nav__notification {
    color: #f0eeee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #FF3366;
    border-radius: 50%;
    height: 1.75rem;
    width: 1.85rem;
    position: absolute;
    top: 1.4rem;
    right: 1.2rem; }
  .user-nav__user-photo {
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .user-nav__username {
    text-transform: capitalize; }

.nav-hidden {
  width: 6rem;
  height: 6rem;
  position: fixed;
  top: 1.2rem;
  left: 2rem;
  background-color: rgba(119, 119, 119, 0.8);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  blur: 4rem;
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 4; }
  @media (min-width: 1100px) {
    .nav-hidden {
      visibility: hidden;
      display: none; } }
  @media (max-width: 1100px) {
    .nav-hidden {
      visibility: hidden;
      display: none;
      width: 0; } }
  .nav-hidden__response::before {
    content: "";
    display: block;
    border-bottom: 0.3rem solid #BA265D;
    margin-bottom: .7rem; }
  .nav-hidden__response {
    display: block;
    border-bottom: 0.3rem solid #BA265D;
    width: 4rem;
    justify-self: center;
    align-self: center; }
  .nav-hidden__response::after {
    content: "";
    display: block;
    border-bottom: 0.3rem solid #BA265D;
    margin-bottom: .7rem; }

.blur {
  visibility: hidden;
  display: none;
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */
  background-color: rgba(119, 119, 119, 0.5);
  grid-column: 2 / span 1;
  grid-row: 1 / -1;
  blur: 50rem; }
  @media (max-width: 900px) {
    .blur {
      visibility: visible;
      display: block; } }

.side-nav {
  font-size: 1.4rem;
  margin-top: 3.5rem;
  list-style: none;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */ }
  @media (max-width: 900px) {
    .side-nav {
      grid-column: 1 / 2;
      grid-row: 1 / 2; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item:hover {
    background-color: #777777; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #BA265D;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item-active:hover::before, .side-nav__item-active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: #FF3366; }
  .side-nav__link {
    display: flex;
    align-items: center; }
    .side-nav__link:link, .side-nav__link:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: #f4f2f2;
      display: inline-block;
      padding: 1.5rem 3rem;
      /** Break point for the small mobile screens */
      /** Breakpiont for the medium sized mobile screens 300px - 350px*/
      /** Breakpoint for the large sized mobile screens 350px - 400px*/
      /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
      /** Breakpoint for the Tablet Landscape screen 600px - 800px */
      /** Breakpoint for large Tablets 800px - 1100px */
      /** Breakpoint for the Large screens 1200 to end */
      position: relative;
      z-index: 10; }
      @media (max-width: 1100px) {
        .side-nav__link:link, .side-nav__link:visited {
          padding: 1rem 1.5rem; } }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
    /** Break point for the small mobile screens */
    /** Breakpiont for the medium sized mobile screens 300px - 350px*/
    /** Breakpoint for the large sized mobile screens 350px - 400px*/
    /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
    /** Breakpoint for the Tablet Landscape screen 600px - 800px */
    /** Breakpoint for large Tablets 800px - 1100px */
    /** Breakpoint for the Large screens 1200 to end */ }
    @media (max-width: 1100px) {
      .side-nav__icon {
        margin-right: 1rem; } }

.copy {
  padding: 2rem;
  color: #ccc;
  font-size: 1.4rem;
  text-align: center;
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */ }
  @media (max-width: 900px) {
    .copy {
      grid-row: 2 / -1;
      grid-column: 1 / 2; } }

.gallery {
  display: flex;
  justify-content: stretch; }
  .gallery__image {
    display: block;
    width: 100%; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc; }
  .overview__heading {
    font-size: 2.27rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1rem 2rem; }
  .overview__stars {
    display: flex;
    margin-right: auto; }
  .overview__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: #BA265D; }
  .overview .location {
    margin-right: 0.6rem; }
  .overview__location {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    padding: 0 1.5rem;
    font-size: 1.6rem;
    color: #BA265D; }
  .overview__rating {
    background-color: #BA265D;
    align-self: stretch;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .overview__rating-average {
      font-size: 2.25rem;
      font-weight: 300;
      color: #fff; }
    .overview__rating-count {
      font-size: 1.5rem;
      font-weight: 500;
      color: #fff;
      padding-bottom: 0.7rem; }

.btn-inline {
  border: none;
  font-size: inherit;
  text-decoration: underline;
  background-color: transparent;
  color: #BA265D;
  transition: all 0.2s; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left 0.2s; }
  .btn-inline:hover {
    color: #333; }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    animation: pulse 0.8s infinite; }

.paragraph:not(:last-of-type) {
  margin-bottom: 3rem; }

.list {
  list-style: none;
  padding: 3rem;
  margin: 3rem 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */ }
  @media (max-width: 1100px) {
    .list {
      padding: .8rem; } }
  .list__items {
    text-transform: capitalize;
    flex: 0 0 50%;
    margin-bottom: 0.7rem; }
  .list__items::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
    background-color: #BA265D;
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-size: cover; }

.recomended {
  font-size: 1.3rem;
  display: flex;
  justify-items: center;
  align-items: center;
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */ }
  @media (max-width: 490px) {
    .recomended {
      font-size: 2rem; } }
  @media (max-width: 1100px) {
    .recomended {
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .recomended__count {
    margin-right: auto;
    /** Break point for the small mobile screens */
    /** Breakpiont for the medium sized mobile screens 300px - 350px*/
    /** Breakpoint for the large sized mobile screens 350px - 400px*/
    /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
    /** Breakpoint for the Tablet Landscape screen 600px - 800px */
    /** Breakpoint for large Tablets 800px - 1100px */
    /** Breakpoint for the Large screens 1200 to end */ }
    @media (max-width: 1100px) {
      .recomended__count {
        margin-right: 0rem; } }
  .recomended__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 50%; }
    .recomended__photo:not(:last-child) {
      margin-right: -1.5rem; }

.review {
  background-color: #fff;
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2);
  padding: 3rem;
  margin-bottom: 3.5rem;
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
  overflow: hidden; }
  @media (max-width: 600px) {
    .review {
      padding: 2rem; } }
  .review__text {
    margin-bottom: 2rem;
    z-index: 2; }
  .review__user {
    display: flex;
    align-items: center;
    font-size: 2rem; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 2rem; }
  .review__user-box {
    margin-right: auto; }
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
    /** Break point for the small mobile screens */
    /** Breakpiont for the medium sized mobile screens 300px - 350px*/
    /** Breakpoint for the large sized mobile screens 350px - 400px*/
    /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
    /** Breakpoint for the Tablet Landscape screen 600px - 800px */
    /** Breakpoint for large Tablets 800px - 1100px */
    /** Breakpoint for the Large screens 1200 to end */ }
    @media (max-width: 490px) {
      .review__user-name {
        font-size: 1.7rem; } }
  .review__user-date {
    font-size: 1rem;
    color: #999;
    /** Break point for the small mobile screens */
    /** Breakpiont for the medium sized mobile screens 300px - 350px*/
    /** Breakpoint for the large sized mobile screens 350px - 400px*/
    /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
    /** Breakpoint for the Tablet Landscape screen 600px - 800px */
    /** Breakpoint for large Tablets 800px - 1100px */
    /** Breakpoint for the Large screens 1200 to end */ }
    @media (max-width: 490px) {
      .review__user-date {
        font-size: 2rem; } }
  .review__rating {
    font-size: 2.2rem;
    font-weight: 300;
    color: #BA265D; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -3rem;
    left: -2rem;
    color: #f4f2f2;
    font-family: sans-serif;
    font-size: 25rem;
    line-height: 1;
    z-index: 1; }

.cta {
  padding: 3.5rem 0;
  text-align: center;
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */ }
  @media (max-width: 490px) {
    .cta {
      grid-column: 1 / -1;
      grid-row: 3 / -1; } }
  .cta__book-now {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2.5rem; }

.btn {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  background-image: linear-gradient(to right, #FF3366, #BA265D);
  padding: 2rem 7.5rem;
  border: none;
  display: inline-block;
  border-radius: 100rem;
  overflow: hidden;
  position: relative; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s; }
  .btn__visible {
    padding: 1rem 7.5rem; }
  .btn__invisible {
    padding: 1rem 0;
    position: absolute;
    top: -100%;
    left: 0; }
  .btn:hover {
    background-image: linear-gradient(to left, #FF3366, #BA265D); }
  .btn:hover .btn__visible {
    transform: translateY(200%); }
  .btn:hover .btn__invisible {
    top: 25%; }

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.06);
    box-shadow: 0 0.5rem 1.3rem rgba(0, 0, 0, 0.2); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.container {
  background-color: #faf9f9;
  max-width: 120rem;
  margin: 8rem auto;
  box-shadow: 0 0.3rem 6rem rgba(0, 0, 0, 0.5);
  min-height: 50rem;
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */ }
  @media (max-width: 1100px) {
    .container {
      height: 100vh;
      width: 100%;
      margin: 0px; } }

.header {
  height: 7rem;
  background-color: #ffff;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem; }

.content {
  display: flex;
  position: relative; }

.navigation {
  background-color: #333;
  flex: 0 0 18%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */ }
  @media (max-width: 900px) {
    .navigation {
      position: fixed;
      top: 0;
      height: 100vh;
      width: 25vw;
      z-index: 10;
      color: rgba(51, 51, 51, 0.01);
      blur: 100rem;
      display: grid;
      grid-template-columns: 25vw 75vw;
      grid-template-rows: 90vh 10vh;
      visibility: hidden;
      display: none; } }

.view {
  background-color: #fff;
  flex: 1; }

.detail {
  display: flex;
  padding: 4.5rem;
  font-size: 1.4rem;
  background-color: #faf9f9;
  border-bottom: 1px solid #f4f2f2;
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */ }
  @media (max-width: 600px) {
    .detail {
      padding: 1rem; } }
  @media (max-width: 490px) {
    .detail {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: max-content min-content min-content;
      grid-row-gap: 2rem;
      padding: 6rem;
      font-size: 2rem; } }
  @media (max-width: 380px) {
    .detail {
      padding: 2rem; } }

.description {
  background-color: #fff;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  box-shadow: 0 1.4rem 2rem rgba(0, 0, 0, 0.2);
  padding: 4rem;
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */ }
  @media (max-width: 600px) {
    .description {
      padding: 2rem; } }
  @media (max-width: 490px) {
    .description {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      margin-right: 0;
      padding: 4rem;
      font-size: 2rem; } }
  @media (max-width: 380px) {
    .description {
      padding: 1.8rem;
      margin-right: 0; } }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /** Break point for the small mobile screens */
  /** Breakpiont for the medium sized mobile screens 300px - 350px*/
  /** Breakpoint for the large sized mobile screens 350px - 400px*/
  /** Breakpoint for the Tablet  Portrait screen 400px - 600px */
  /** Breakpoint for the Tablet Landscape screen 600px - 800px */
  /** Breakpoint for large Tablets 800px - 1100px */
  /** Breakpoint for the Large screens 1200 to end */ }
  @media (max-width: 490px) {
    .user-reviews {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      width: 42rem;
      justify-self: center;
      margin-top: 4rem;
      font-size: 2rem; } }

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, min-content);
  grid-gap: 2rem;
  background-color: #333;
  font-size: 2rem;
  padding: 4rem;
  justify-content: center;
  align-items: center;
  color: #f4f2f2; }
  .footer--description {
    grid-column: 1 / 2; }
    .footer--description__header {
      display: block;
      font-size: 4rem;
      font-weight: 300;
      text-transform: uppercase;
      padding: 2rem 2rem 2rem 0; }
    .footer--description__text {
      padding: 1rem 2rem 1rem 0;
      margin-bottom: 2rem; }
    .footer--description__button-link, .footer--description__button-link:visited, .footer--description__button-link:focus {
      text-decoration: none; }
    .footer--description__button-text {
      border: none;
      outline: none;
      background-color: #BA265D;
      padding: 1.5rem 3rem;
      display: block;
      color: #f0eeee;
      border-radius: 5rem;
      font-size: 2rem;
      text-align: center;
      transition: all .2s; }
      .footer--description__button-text:hover {
        box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2);
        transform: translateY(-2px); }
      .footer--description__button-text:active {
        transform: translateY(-1px);
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2); }

.contacts-holder {
  display: flex;
  text-transform: capitalize;
  padding: 1rem; }

.contacts--link, .contacts--link:visited, .contacts--link:focus, .contacts--link:active {
  margin-left: 1rem;
  text-transform: lowercase;
  text-decoration: none; }

.socials {
  justify-self: center;
  align-self: center;
  display: block; }
  .socials--links__icon {
    width: 3rem;
    height: 2rem; }
